version: 6.33.4

type: DeclarativeSource

description: removed `is_read_only` attribute from dashboards stream schema

check:
  type: CheckStream
  stream_names:
    - dashboards

definitions:
  streams:
    audit_logs:
      type: DeclarativeStream
      name: audit_logs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/audit/events
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page[cursor]
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ last_record['meta']['page']['after'] if last_record else None
              }}
            stop_condition: "{{ 'page' not in last_record['meta'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/audit_logs"
    dashboards:
      type: DeclarativeStream
      name: dashboards
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/dashboard
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - dashboards
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboards"
    downtimes:
      type: DeclarativeStream
      name: downtimes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/downtime
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/downtimes"
    incident_teams:
      type: DeclarativeStream
      name: incident_teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/team
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_teams"
    incidents:
      type: DeclarativeStream
      name: incidents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/incidents
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page[offset]
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get("meta", {}).get("pagination",
              {}).get("next_offset", {}) }}
            stop_condition: >-
              {{ not response.get("meta", {}).get("pagination",
              {}).get("next_offset", {}) }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incidents"
    logs:
      type: DeclarativeStream
      name: logs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/logs/events
          http_method: GET
          request_parameters:
            filter[query]: "{{ config['query'] }}"
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 429
                    error_message: Too many requests, retrying...
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            page_size: 1000
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: sync_date
        lookback_window: P31D
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['start_date'] or day_delta(-30,
            format='%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: filter[from]
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: filter[to]
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_date'] or day_delta(-1, format='%Y-%m-%dT%H:%M:%SZ')
            }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT0.000001S
      transformations:
        - type: AddFields
          fields:
            - path:
                - sync_date
              value: "{{ record['attributes']['timestamp'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/logs"
    metrics:
      type: DeclarativeStream
      name: metrics
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/metrics
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/metrics"
    monitors:
      type: DeclarativeStream
      name: monitors
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/monitor
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/monitors"
    service_level_objectives:
      type: DeclarativeStream
      name: service_level_objectives
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/slo
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/service_level_objectives"
    synthetic_tests:
      type: DeclarativeStream
      name: synthetic_tests
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/synthetics/tests
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tests
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/synthetic_tests"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/users
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page[number]
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    ci_visibility_tests:
      type: DeclarativeStream
      name: ci_visibility_tests
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/ci/tests/events
          http_method: GET
          request_parameters:
            sort: timestamp
            filter[query]: "{{ config['query'] }}"
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 429
                    error_message: Too many requests, retrying...
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: x-ratelimit-reset
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: page[limit]
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 1000
            cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: sync_date
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['start_date'] or day_delta(-30,
            format='%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: filter[from]
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: filter[to]
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - sync_date
              value: "{{ record['attributes']['timestamp'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ci_visibility_tests"
      ci_visibility_pipelines:
        type: DeclarativeStream
        name: ci_visibility_pipelines
        primary_key:
          - id
        retriever:
          type: SimpleRetriever
          requester:
            $ref: "#/definitions/base_requester"
            path: v2/ci/pipelines/events
            http_method: GET
            request_parameters:
              sort: timestamp
              filter[query]: "{{ config['query'] }}"
            request_headers:
              DD-APPLICATION-KEY: "{{ config['application_key'] }}"
            error_handler:
              type: CompositeErrorHandler
              error_handlers:
                - type: DefaultErrorHandler
                  response_filters:
                    - type: HttpResponseFilter
                      action: RETRY
                      http_codes:
                        - 429
                      error_message: Too many requests, retrying...
                  backoff_strategies:
                    - type: WaitTimeFromHeader
                      header: x-ratelimit-reset
          record_selector:
            type: RecordSelector
            extractor:
              type: DpathExtractor
              field_path:
                - data
          paginator:
            type: DefaultPaginator
            page_token_option:
              type: RequestPath
            page_size_option:
              type: RequestOption
              field_name: page[limit]
              inject_into: request_parameter
            pagination_strategy:
              type: CursorPagination
              page_size: 1000
              cursor_value: "{{ response.get(\"links\", {}).get(\"next\", {}) }}"
              stop_condition: "{{ not response.get(\"links\", {}).get(\"next\", {}) }}"
          decoder:
            type: JsonDecoder
        incremental_sync:
          type: DatetimeBasedCursor
          cursor_field: sync_date
          cursor_datetime_formats:
            - "%Y-%m-%dT%H:%M:%S.%fZ"
            - "%Y-%m-%dT%H:%M:%SZ"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
          start_datetime:
            type: MinMaxDatetime
            datetime: >-
              {{ config['start_date'] or day_delta(-30,
              format='%Y-%m-%dT%H:%M:%SZ') }}
            datetime_format: "%Y-%m-%dT%H:%M:%SZ"
          start_time_option:
            type: RequestOption
            field_name: filter[from]
            inject_into: request_parameter
          end_time_option:
            type: RequestOption
            field_name: filter[to]
            inject_into: request_parameter
          end_datetime:
            type: MinMaxDatetime
            datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
            datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        transformations:
          - type: AddFields
            fields:
              - type: AddedFieldDefinition
                path:
                  - sync_date
                value: "{{ record['attributes']['timestamp'] }}"
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $ref: "#/schemas/ci_visibility_pipelines"
  base_requester:
    type: HttpRequester
    url_base: https://api.{{ config['site'] }}/api/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: DD-API-KEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/audit_logs"
  - $ref: "#/definitions/streams/dashboards"
  - $ref: "#/definitions/streams/downtimes"
  - $ref: "#/definitions/streams/incident_teams"
  - $ref: "#/definitions/streams/incidents"
  - $ref: "#/definitions/streams/logs"
  - $ref: "#/definitions/streams/metrics"
  - $ref: "#/definitions/streams/monitors"
  - $ref: "#/definitions/streams/service_level_objectives"
  - $ref: "#/definitions/streams/synthetic_tests"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/ci_visibility_tests"
  - $ref: "#/definitions/streams/ci_visibility_pipelines"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - application_key
    properties:
      api_key:
        type: string
        description: Datadog API key
        order: 0
        title: API Key
        airbyte_secret: true
      application_key:
        type: string
        description: Datadog application key
        order: 1
        title: Application Key
        airbyte_secret: true
      query:
        type: string
        description: >-
          The search query. This just applies to Incremental syncs. If empty,
          it'll collect all logs.
        order: 2
        title: Query
      start_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated. This just applies to Incremental
          syncs.
        order: 3
        title: Start date
        default: "2023-12-01T00:00:00Z"
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2022-10-01T00:00:00Z"
      site:
        type: string
        description: The site where Datadog data resides in.
        enum:
          - datadoghq.com
          - us3.datadoghq.com
          - us5.datadoghq.com
          - datadoghq.eu
          - ddog-gov.com
        order: 4
        title: Site
        default: datadoghq.com
      end_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Data after this
          date will  not be replicated. An empty value will represent the
          current datetime for each  execution. This just applies to Incremental
          syncs.
        order: 5
        title: End date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2022-10-01T00:00:00Z"
      max_records_per_request:
        type: integer
        description: Maximum number of records to collect per request.
        order: 6
        title: Max records per requests
        default: 5000
        maximum: 5000
        minimum: 1
      queries:
        type: array
        description: List of queries to be run and used as inputs.
        items:
          type: object
          required:
            - name
            - data_source
            - query
          properties:
            name:
              type: string
              description: The variable name for use in queries.
              order: 1
              title: Query Name
            query:
              type: string
              description: A classic query string.
              order: 3
              title: Query
            data_source:
              type: string
              description: A data source that is powered by the platform.
              enum:
                - metrics
                - cloud_cost
                - logs
                - rum
              order: 2
              title: Data Source
        order: 7
        title: Queries
        default: []
    additionalProperties: true

metadata:
  autoImportSchema:
    audit_logs: false
    dashboards: false
    downtimes: false
    incident_teams: false
    incidents: false
    logs: false
    metrics: false
    monitors: false
    service_level_objectives: false
    synthetic_tests: false
    users: false
    ci_visibility_tests: false
    ci_visibility_pipelines: false
  testedStreams:
    audit_logs:
      hasRecords: true
      streamHash: 4938d5b333c624c8f301eac284c5a174d944f466
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    dashboards:
      hasRecords: true
      streamHash: 277a1ea39fde86d246bc648ae60ff3b8ebd8ec41
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    downtimes:
      hasRecords: true
      streamHash: d2cc478d2160b90412e4e9f6745cd3161820d6fb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incident_teams:
      hasRecords: true
      streamHash: d817a91cf1df2c7ca53131f8d6c8a67285d84aec
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incidents:
      hasRecords: true
      streamHash: 47cc0e8fd035e7db2846b26520ab729458984f44
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    logs:
      hasRecords: true
      streamHash: ec198a7eb4754773f1778c2b338ab477cf666ea6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    metrics:
      hasRecords: true
      streamHash: f4ec990f551bab54c17838ed70867b1ec35f43e5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    monitors:
      hasRecords: true
      streamHash: a062c312b114a0c93de6cf544cb3866a4d740cd0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    service_level_objectives:
      hasRecords: true
      streamHash: 7fd5b7991c51fb67325aa0a7ff96577be2a7987d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    synthetic_tests:
      hasRecords: true
      streamHash: c81afc074ea369f5ac1d5ee5c73431c3094912d2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: b5f9f6ef4f26ab4ba4a9485496e18506c4fb3184
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ci_visibility_tests:
      hasRecords: true
      streamHash: 71a2cb83572c9150ffbc5972db67577363fd1a73
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ci_visibility_pipelines:
      hasRecords: true
      streamHash: 52d6e11574bf01a9891eec41f064d359a34f0d66
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  audit_logs:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
        description: "Type of the event. Allowed enum values: audit"
        enum:
          - audit
        readOnly: true
      attributes:
        type:
          - object
          - "null"
        description: >-
          JSON object containing all event attributes and their associated
          values.
        additionalProperties: true
        properties:
          attributes:
            type:
              - object
              - "null"
            description: JSON object of attributes from Audit Logs events.
            additionalProperties: true
          service:
            type:
              - string
              - "null"
            description: Name of the application or service generating Audit Logs events.
          tags:
            type:
              - array
              - "null"
            description: Array of tags associated with your event.
            items:
              type: string
          timestamp:
            type:
              - string
              - "null"
            description: Timestamp of your event.
            format: date-time
      id:
        type:
          - string
          - "null"
        description: Unique ID of the event.
        readOnly: true
      sync_date:
        type:
          - "null"
          - string
  dashboards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
        description: Description of the dashboard.
        readOnly: true
      author_handle:
        type:
          - string
          - "null"
        description: Identifier of the dashboard author.
        readOnly: true
      created_at:
        type:
          - string
          - "null"
        description: Creation date of the dashboard.
        format: date-time
        readOnly: true
      deleted_at:
        type:
          - string
          - "null"
        description: Deletion date of the dashboard.
        format: date-time
        readOnly: true
      id:
        type:
          - string
          - "null"
        description: Dashboard identifier.
        readOnly: true
      layout_type:
        type:
          - string
          - "null"
        description: Layout type of the dashboard
        enum:
          - ordered
          - free
        readOnly: true
      modified_at:
        type:
          - string
          - "null"
        description: Modification date of the dashboard.
        format: date-time
        readOnly: true
      title:
        type:
          - string
          - "null"
        description: Title of the dashboard.
        readOnly: true
      url:
        type:
          - string
          - "null"
        description: URL of the dashboard.
        readOnly: true
  downtimes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
        description: If a scheduled downtime currently exists.
        readOnly: true
      active_child:
        type:
          - object
          - "null"
        description: >-
          The downtime object definition of the active child for the original
          parent recurring downtime.
        additionalProperties: true
      canceled:
        type:
          - integer
          - "null"
        description: If a scheduled downtime is canceled.
        readOnly: true
      child_id:
        type:
          - integer
          - "null"
      created:
        type:
          - integer
          - "null"
      creator_id:
        type:
          - integer
          - "null"
        description: User ID of the downtime creator.
        readOnly: true
      disabled:
        type:
          - boolean
          - "null"
        description: If a downtime has been disabled.
        readOnly: true
      downtime_type:
        type:
          - integer
          - "null"
        description: >-
          0 for a downtime applied on * or all, 1 when the downtime is only
          scoped to hosts, or 2 when the downtime is scoped to anything but
          hosts.
        readOnly: true
      end:
        type:
          - integer
          - "null"
        description: >-
          POSIX timestamp to end the downtime. If not provided, the downtime is
          in effect indefinitely until you cancel it.
        readOnly: true
      id:
        type:
          - integer
          - "null"
        description: The downtime ID.
        readOnly: true
      message:
        type:
          - string
          - "null"
        description: A message to include with notifications for this downtime.
        readOnly: true
      modified:
        type:
          - integer
          - "null"
      monitor_id:
        type:
          - integer
          - "null"
        description: >-
          A single monitor to which the downtime applies. If not provided, the
          downtime applies to all monitors.
        readOnly: true
      monitor_tags:
        type:
          - array
          - "null"
        description: A comma-separated list of monitor tags.
        items:
          type: string
        readOnly: true
      mute_first_recovery_notification:
        type:
          - boolean
          - "null"
        description: If the first recovery notification during a downtime should be muted.
        readOnly: true
      notify_end_states:
        type:
          - array
          - "null"
        items:
          type: string
      notify_end_types:
        type:
          - array
          - "null"
        items:
          type: string
      org_id:
        type:
          - integer
          - "null"
      parent_id:
        type:
          - integer
          - "null"
        description: ID of the parent Downtime.
        readOnly: true
      recurrence:
        type:
          - object
          - "null"
        description: An object defining the recurrence of the downtime.
        additionalProperties: true
      scope:
        type:
          - array
          - "null"
        description: The scope(s) to which the downtime applies.
        items:
          type: string
        readOnly: true
      start:
        type:
          - integer
          - "null"
        description: >-
          POSIX timestamp to start the downtime. If not provided, the downtime
          starts the moment it is created.
        readOnly: true
      status:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
        description: >-
          The timezone in which to display the downtime's start and end times in
          Datadog applications.
        readOnly: true
      updater_id:
        type:
          - integer
          - "null"
        description: ID of the last user that updated the downtime.
        readOnly: true
      uuid:
        type:
          - string
          - "null"
  incident_teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          handle:
            type:
              - string
              - "null"
          is_managed:
            type:
              - boolean
              - "null"
          link_count:
            type:
              - number
              - "null"
          modified_at:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          summary:
            type:
              - string
              - "null"
          user_count:
            type:
              - number
              - "null"
      id:
        type: string
      relationships:
        type:
          - object
          - "null"
        properties:
          team_links:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
              links:
                type:
                  - object
                  - "null"
                properties:
                  related:
                    type:
                      - string
                      - "null"
          user_team_permissions:
            type:
              - object
              - "null"
            properties:
              links:
                type:
                  - object
                  - "null"
                properties:
                  related:
                    type:
                      - string
                      - "null"
    required:
      - id
  incidents:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
        description: "Incident resource type. Allowed enum values: incidents"
        enum:
          - incidents
        readOnly: true
      attributes:
        type:
          - object
          - "null"
        description: The incident's attributes from a response.
        additionalProperties: true
        properties:
          created:
            type:
              - string
              - "null"
            description: Timestamp when the incident was created.
            format: date-time
          customer_impact_duration:
            type:
              - integer
              - "null"
            description: >-
              Length of the incident's customer impact in seconds. Equals the
              difference between customer_impact_start and customer_impact_end.
          customer_impact_end:
            type:
              - string
              - "null"
            description: Timestamp when customers were no longer impacted by the incident.
            format: date-time
          customer_impact_scope:
            type:
              - string
              - "null"
            description: A summary of the impact customers experienced during the incident.
          customer_impact_start:
            type:
              - string
              - "null"
            description: Timestamp when customers began being impacted by the incident.
            format: date-time
          customer_impacted:
            type:
              - boolean
              - "null"
            description: A flag indicating whether the incident caused customer impact.
          detected:
            type:
              - string
              - "null"
            description: Timestamp when the incident was detected.
            format: date-time
          fields:
            type:
              - object
              - "null"
            description: A condensed view of the user-defined fields attached to incidents.
            additionalProperties: true
          modified:
            type:
              - string
              - "null"
            description: Timestamp when the incident was last modified.
            format: date-time
          notification_handles:
            type:
              - array
              - "null"
            description: >-
              Notification handles that will be notified of the incident during
              update.
            items:
              type: object
          public_id:
            type:
              - integer
              - "null"
            description: The monotonically increasing integer ID for the incident.
          resolved:
            type:
              - string
              - "null"
            description: >-
              Timestamp when the incident's state was last changed from active
              or stable to resolved or completed.
            format: date-time
          time_to_detect:
            type:
              - integer
              - "null"
            description: >-
              The amount of time in seconds to detect the incident. Equals the
              difference between customer_impact_start and detected.
          time_to_internal_response:
            type:
              - integer
              - "null"
            description: >-
              The amount of time in seconds to call incident after detection.
              Equals the difference of detected and created.
          time_to_repair:
            type:
              - integer
              - "null"
            description: >-
              The amount of time in seconds to resolve customer impact after
              detecting the issue. Equals the difference between
              customer_impact_end and detected.
          time_to_resolve:
            type:
              - integer
              - "null"
            description: >-
              The amount of time in seconds to resolve the incident after it was
              created. Equals the difference between created and resolved.
          title:
            type:
              - string
            description: The title of the incident, which summarizes what happened.
      id:
        type:
          - string
        description: The incident's ID.
        readOnly: true
      relationships:
        type:
          - object
          - "null"
        description: The incident's relationships from a response.
        additionalProperties: true
        properties:
          attachments:
            type:
              - object
              - "null"
            description: A relationship reference for attachments.
            additionalProperties: true
          commander_user:
            type:
              - object
              - "null"
            description: Relationship to user.
            additionalProperties: true
          created_by_user:
            type:
              - object
              - "null"
            description: Relationship to user.
            additionalProperties: true
          integrations:
            type:
              - object
              - "null"
            description: >-
              A relationship reference for multiple integration metadata
              objects.
            additionalProperties: true
          last_modified_by_user:
            type:
              - object
              - "null"
            description: Relationship to user.
            additionalProperties: true
  logs:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
        description: "Type of the event. Allowed enum values: log"
        enum:
          - log
        readOnly: true
      attributes:
        type:
          - object
          - "null"
        description: JSON object containing all log attributes and their associated values.
        additionalProperties: true
        properties:
          attributes:
            type:
              - object
              - "null"
            description: JSON object of attributes from your log.
            additionalProperties: true
          host:
            type:
              - string
              - "null"
            description: Name of the machine from where the logs are being sent.
          message:
            type:
              - string
              - "null"
            description: The message reserved attribute of your log.
          service:
            type:
              - string
              - "null"
            description: The name of the application or service generating the log events.
          status:
            type:
              - string
              - "null"
            description: Status of the message associated with your log.
          tags:
            type:
              - array
              - "null"
            description: Array of tags associated with your log.
            items:
              type: string
          timestamp:
            type:
              - string
              - "null"
            description: Timestamp of your log.
            format: date-time
      id:
        type:
          - string
          - "null"
        description: Unique ID of the Log.
        readOnly: true
      sync_date:
        type:
          - "null"
          - string
  metrics:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: The metric resource type.
      id:
        type:
          - "null"
          - string
        description: The metric name for this resource.
  monitors:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      created_at:
        type:
          - integer
          - "null"
      creator:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          email:
            type:
              - string
              - "null"
          handle:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      deleted:
        type:
          - string
          - "null"
      id:
        type:
          - integer
          - "null"
      matching_downtimes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          additionalProperties: true
          properties:
            end:
              type:
                - integer
                - "null"
            id:
              type:
                - integer
                - "null"
            scope:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            start:
              type:
                - integer
                - "null"
      message:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      multi:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      options:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          aggregation:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              type:
                type:
                  - string
                  - "null"
              groupBy:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              metric:
                type:
                  - string
                  - "null"
          device_ids:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          enable_logs_sample:
            type:
              - boolean
              - "null"
          enable_samples:
            type:
              - boolean
              - "null"
          escalation_message:
            type:
              - string
              - "null"
          evaluation_delay:
            type:
              - integer
              - "null"
          group_retention_duration:
            type:
              - string
              - "null"
          groupby_simple_monitor:
            type:
              - boolean
              - "null"
          include_tags:
            type:
              - boolean
              - "null"
          locked:
            type:
              - boolean
              - "null"
          new_group_delay:
            type:
              - integer
              - "null"
          new_host_delay:
            type:
              - integer
              - "null"
          no_data_timeframe:
            type:
              - integer
              - "null"
          notification_preset_name:
            type:
              - string
              - "null"
          notify_audit:
            type:
              - boolean
              - "null"
          notify_by:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          notify_no_data:
            type:
              - boolean
              - "null"
          on_missing_data:
            type:
              - string
              - "null"
          renotify_interval:
            type:
              - integer
              - "null"
          renotify_occurrences:
            type:
              - integer
              - "null"
          renotify_statuses:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          require_full_window:
            type:
              - boolean
              - "null"
          scheduling_options:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              evaluation_window:
                type:
                  - object
                  - "null"
                additionalProperties: true
                properties:
                  day_starts:
                    type:
                      - string
                      - "null"
                  hour_starts:
                    type:
                      - string
                      - "null"
                  month_starts:
                    type:
                      - integer
                      - "null"
          silenced:
            patternProperties:
              .+:
                type:
                  - integer
                  - "null"
          synthetics_check_id:
            type:
              - string
              - "null"
          threshold_windows:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              recovery_window:
                type:
                  - string
                  - "null"
              trigger_window:
                type:
                  - string
                  - "null"
          thresholds:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              critical:
                type:
                  - number
                  - "null"
              critical_recovery:
                type:
                  - number
                  - "null"
              ok:
                type:
                  - number
                  - "null"
              unknown:
                type:
                  - number
                  - "null"
              warning:
                type:
                  - number
                  - "null"
              warning_recovery:
                type:
                  - number
                  - "null"
          timeout_h:
            type:
              - integer
              - "null"
          variables:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              additionalProperties: true
              properties:
                compute:
                  type:
                    - object
                    - "null"
                  additionalProperties: true
                  properties:
                    aggregation:
                      type:
                        - string
                        - "null"
                    interval:
                      type:
                        - integer
                        - "null"
                    metric:
                      type:
                        - string
                        - "null"
                data_source:
                  type:
                    - string
                    - "null"
                group_by:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    additionalProperties: true
                    properties:
                      facet:
                        type:
                          - string
                          - "null"
                      limit:
                        type:
                          - integer
                          - "null"
                      sort:
                        type:
                          - object
                          - "null"
                        additionalProperties: true
                        properties:
                          aggregation:
                            type:
                              - string
                              - "null"
                          metric:
                            type:
                              - string
                              - "null"
                          order:
                            type:
                              - string
                              - "null"
                indexes:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                name:
                  type:
                    - string
                    - "null"
                search:
                  type:
                    - object
                    - "null"
                  additionalProperties: true
                  properties:
                    query:
                      type:
                        - string
                        - "null"
      org_id:
        type:
          - integer
          - "null"
      overall_state:
        type:
          - string
          - "null"
      overall_state_modified:
        type:
          - string
          - "null"
      priority:
        type:
          - integer
          - "null"
      query:
        type:
          - string
          - "null"
      restricted_roles:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      state:
        type:
          - object
          - "null"
        properties:
          groups:
            type:
              - object
              - "null"
            patternProperties:
              .+:
                type:
                  - object
                  - "null"
                properties:
                  last_nodata_ts:
                    type:
                      - integer
                      - "null"
                  last_notified_ts:
                    type:
                      - integer
                      - "null"
                  last_resolved_ts:
                    type:
                      - integer
                      - "null"
                  last_triggered_ts:
                    type:
                      - integer
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  status:
                    type:
                      - string
                      - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
  service_level_objectives:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - integer
          - "null"
      creator:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          email:
            type:
              - string
              - "null"
          handle:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      groups:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      id:
        type:
          - string
          - "null"
      modified_at:
        type:
          - integer
          - "null"
      monitor_ids:
        type:
          - array
          - "null"
        items:
          type:
            - integer
            - "null"
      monitor_tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      name:
        type:
          - string
          - "null"
      query:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          denominator:
            type:
              - string
              - "null"
          numerator:
            type:
              - string
              - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      target_threshold:
        type:
          - number
          - "null"
      thresholds:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          additionalProperties: true
          properties:
            target:
              type:
                - number
                - "null"
            target_display:
              type:
                - string
                - "null"
            timeframe:
              type:
                - string
                - "null"
            warning:
              type:
                - number
                - "null"
            warning_display:
              type:
                - string
                - "null"
      timeframe:
        type:
          - string
          - "null"
      type_id:
        type:
          - integer
          - "null"
      warning_threshold:
        type:
          - number
          - "null"
  synthetic_tests:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
        description: >-
          Type of the Synthetic test, either api or browser. Allowed enum
          values: api,browser
        enum:
          - api
          - browser
        readOnly: true
      config:
        type:
          - object
          - "null"
        description: Configuration object for a Synthetic test.
        additionalProperties: true
      created_at:
        type:
          - string
          - "null"
        description: Creation date of the Synthetic test.
        format: date-time
        readOnly: true
      creator:
        type:
          - object
          - "null"
        description: Object describing the creator of the shared element.
        additionalProperties: true
        properties:
          email:
            type:
              - string
              - "null"
            description: Email of the creator.
          handle:
            type:
              - string
              - "null"
            description: Handle of the creator.
          name:
            type:
              - string
              - "null"
            description: Name of the creator.
      locations:
        type:
          - array
          - "null"
        description: Array of locations used to run the test.
        items:
          type: string
        readOnly: true
      message:
        type:
          - string
          - "null"
        description: Notification message associated with the test.
        readOnly: true
      modified_at:
        type:
          - string
          - "null"
        description: Creation date of the Synthetic test.
        format: date-time
        readOnly: true
      monitor_id:
        type:
          - integer
          - "null"
        description: The associated monitor ID.
        readOnly: true
      name:
        type:
          - string
          - "null"
        description: Name of the test.
        readOnly: true
      options:
        type:
          - object
          - "null"
        description: Object describing the extra options for a Synthetic test.
        additionalProperties: true
      public_id:
        type:
          - string
          - "null"
        description: The test public ID.
        readOnly: true
      status:
        type:
          - string
          - "null"
        description: >-
          Define whether you want to start (live) or pause (paused) a Synthetic
          test. Allowed enum values: live,paused
        enum:
          - live
          - paused
        readOnly: true
      steps:
        type:
          - object
          - "null"
        description: For browser test, the steps of the test.
        additionalProperties: true
      subtype:
        type:
          - string
          - "null"
        description: >-
          The subtype of the Synthetic API test, http, ssl, tcp, dns, icmp, udp,
          websocket, grpc or multi. Allowed enum values:
          http,ssl,tcp,dns,multi,icmp,udp,websocket,grpc
        enum:
          - http
          - ssl
          - tcp
          - dns
          - multi
          - icmp
          - udp
          - websocket
          - grpc
        readOnly: true
      tags:
        type:
          - array
          - "null"
        description: Array of tags attached to the test.
        items:
          type: string
        readOnly: true
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
        description: "Users resource type. Allowed enum values: users"
        enum:
          - users
        readOnly: true
      attributes:
        type:
          - object
          - "null"
        description: Attributes of user object returned by the API.
        additionalProperties: true
        properties:
          created_at:
            type:
              - string
              - "null"
            description: Creation time of the user.
            format: date-time
          disabled:
            type:
              - boolean
              - "null"
            description: Whether the user is disabled.
          email:
            type:
              - string
              - "null"
            description: Email of the user.
          handle:
            type:
              - string
              - "null"
            description: Handle of the user.
          icon:
            type:
              - string
              - "null"
            description: URL of the user's icon.
          modified_at:
            type:
              - string
              - "null"
            description: Time that the user was last modified.
            format: date-time
          name:
            type:
              - string
              - "null"
            description: Name of the user.
          service_account:
            type:
              - boolean
              - "null"
            description: Whether the user is a service account.
          status:
            type:
              - string
              - "null"
            description: Status of the user.
          title:
            type:
              - string
              - "null"
            description: Title of the user.
          verified:
            type:
              - boolean
              - "null"
            description: Whether the user is verified.
      id:
        type:
          - string
          - "null"
        description: ID of the user.
        readOnly: true
      relationships:
        type:
          - object
          - "null"
        description: Relationships of the user object returned by the API.
        readOnly: true
  ci_visibility_tests:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          attributes:
            type:
              - object
              - "null"
            properties:
              _dd_single_span:
                type:
                  - string
                  - "null"
              ci:
                type:
                  - object
                  - "null"
                properties:
                  job:
                    type:
                      - object
                      - "null"
                    properties:
                      name:
                        type:
                          - string
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                  node:
                    type:
                      - object
                      - "null"
                    properties:
                      labels:
                        type:
                          - array
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                  pipeline:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      number:
                        type:
                          - number
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                  provider:
                    type:
                      - object
                      - "null"
                    properties:
                      name:
                        type:
                          - string
                          - "null"
                  stage:
                    type:
                      - object
                      - "null"
                    properties:
                      name:
                        type:
                          - string
                          - "null"
                  workspace_path:
                    type:
                      - string
                      - "null"
              ddsource:
                type:
                  - string
                  - "null"
              duration:
                type:
                  - number
                  - "null"
              env:
                type:
                  - string
                  - "null"
              git:
                type:
                  - object
                  - "null"
                properties:
                  branch:
                    type:
                      - string
                      - "null"
                  commit:
                    type:
                      - object
                      - "null"
                    properties:
                      author:
                        type:
                          - object
                          - "null"
                        properties:
                          date:
                            type:
                              - string
                              - "null"
                          date_timestamp:
                            type:
                              - number
                              - "null"
                          email:
                            type:
                              - string
                              - "null"
                          name:
                            type:
                              - string
                              - "null"
                      committer:
                        type:
                          - object
                          - "null"
                        properties:
                          date:
                            type:
                              - string
                              - "null"
                          date_timestamp:
                            type:
                              - number
                              - "null"
                          email:
                            type:
                              - string
                              - "null"
                          name:
                            type:
                              - string
                              - "null"
                      message:
                        type:
                          - string
                          - "null"
                      sha:
                        type:
                          - string
                          - "null"
                  repository:
                    type:
                      - object
                      - "null"
                    properties:
                      host:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      id_v2:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      path:
                        type:
                          - string
                          - "null"
                      scheme:
                        type:
                          - string
                          - "null"
                  repository_url:
                    type:
                      - string
                      - "null"
              mr_event_type:
                type:
                  - string
                  - "null"
              retained_by:
                type:
                  - string
                  - "null"
              service:
                type:
                  - string
                  - "null"
              start:
                type:
                  - number
                  - "null"
              test:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  bundle:
                    type:
                      - string
                      - "null"
                  command:
                    type:
                      - string
                      - "null"
                  fingerprint:
                    type:
                      - string
                      - "null"
                  fingerprint_v2:
                    type:
                      - string
                      - "null"
                  full_name:
                    type:
                      - string
                      - "null"
                  has_parameters:
                    type:
                      - boolean
                      - "null"
                  module:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  service:
                    type:
                      - string
                      - "null"
                  skip_reason:
                    type:
                      - string
                      - "null"
                  status:
                    type:
                      - string
                      - "null"
                  suite:
                    type:
                      - string
                      - "null"
              test_module:
                type:
                  - object
                  - "null"
                properties:
                  fingerprint:
                    type:
                      - string
                      - "null"
                  fingerprint_v2:
                    type:
                      - string
                      - "null"
              test_session:
                type:
                  - object
                  - "null"
                properties:
                  fingerprint:
                    type:
                      - string
                      - "null"
                  fingerprint_v2:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
              test_suite:
                type:
                  - object
                  - "null"
                properties:
                  fingerprint:
                    type:
                      - string
                      - "null"
                  fingerprint_v2:
                    type:
                      - string
                      - "null"
          test_level:
            type:
              - string
              - "null"
      id:
        type: string
      sync_date:
        type: string
    required:
      - id
      - sync_date
  ci_visibility_pipelines:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          attributes:
            type:
              - object
              - "null"
            properties:
              _top_level:
                type:
                  - number
                  - "null"
              ci:
                type:
                  - object
                  - "null"
                properties:
                  allowed_to_fail:
                    type:
                      - boolean
                      - "null"
                  critical_path:
                    type:
                      - object
                      - "null"
                    properties:
                      exclusive_time:
                        type:
                          - number
                          - "null"
                  deployment:
                    type:
                      - object
                      - "null"
                    properties:
                      action:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                  execution_time:
                    type:
                      - number
                      - "null"
                  is_manual:
                    type:
                      - boolean
                      - "null"
                  job:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                  mobplt:
                    type:
                      - object
                      - "null"
                    properties:
                      android_target_version:
                        type:
                          - string
                          - "null"
                      archivers:
                        type:
                          - string
                          - "null"
                      config_cache_complete_hit:
                        type:
                          - boolean
                          - "null"
                      config_cache_partial_hit:
                        type:
                          - boolean
                          - "null"
                      config_cache_reuse_enabled:
                        type:
                          - boolean
                          - "null"
                      ctr_img_name:
                        type:
                          - string
                          - "null"
                      ctr_img_tag:
                        type:
                          - string
                          - "null"
                      ec2_ami_id:
                        type:
                          - string
                          - "null"
                      ec2_az:
                        type:
                          - string
                          - "null"
                      ec2_instance_id:
                        type:
                          - string
                          - "null"
                      ec2_instance_type:
                        type:
                          - string
                          - "null"
                      ec2_pre_pulled_imgs:
                        type:
                          - string
                          - "null"
                      git_clone_type:
                        type:
                          - string
                          - "null"
                      git_existing_repo:
                        type:
                          - boolean
                          - "null"
                      jdk:
                        type:
                          - string
                          - "null"
                      s3_type:
                        type:
                          - string
                          - "null"
                      ssd_enabled:
                        type:
                          - boolean
                          - "null"
                  node:
                    type:
                      - object
                      - "null"
                    properties:
                      labels:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - string
                            - "null"
                      name:
                        type:
                          - string
                          - "null"
                  on_critical_path:
                    type:
                      - boolean
                      - "null"
                  param:
                    type:
                      - object
                      - "null"
                    properties:
                      aar_jacoco_report_location:
                        type:
                          - string
                          - "null"
                      aar_pom_location:
                        type:
                          - string
                          - "null"
                      action:
                        type:
                          - string
                          - "null"
                      all:
                        type:
                          - string
                          - "null"
                      allow_p0_failures:
                        type:
                          - string
                          - "null"
                      android_build_image:
                        type:
                          - string
                          - "null"
                      api_spec_filepath:
                        type:
                          - string
                          - "null"
                      api_spec_generation_enabled:
                        type:
                          - string
                          - "null"
                      api_spec_publish_enabled:
                        type:
                          - string
                          - "null"
                      api_spec_remote_path:
                        type:
                          - string
                          - "null"
                      api_spec_validation_enabled:
                        type:
                          - string
                          - "null"
                      apk_path:
                        type:
                          - string
                          - "null"
                      app_to_build:
                        type:
                          - string
                          - "null"
                      appsec_container_image_name:
                        type:
                          - string
                          - "null"
                      appsec_precheck_skip_languages:
                        type:
                          - string
                          - "null"
                      artifact_uri_path:
                        type:
                          - string
                          - "null"
                      artifactory_host_url:
                        type:
                          - string
                          - "null"
                      base_dir:
                        type:
                          - string
                          - "null"
                      build_enabled:
                        type:
                          - string
                          - "null"
                      build_image_prefix:
                        type:
                          - string
                          - "null"
                      building_sitemap:
                        type:
                          - string
                          - "null"
                      cicd_tools_image:
                        type:
                          - string
                          - "null"
                      cluster_alias:
                        type:
                          - string
                          - "null"
                      code_coverage_enabled:
                        type:
                          - string
                          - "null"
                      contact_description:
                        type:
                          - string
                          - "null"
                      contact_url:
                        type:
                          - string
                          - "null"
                      container_image_name:
                        type:
                          - string
                          - "null"
                      container_image_tag:
                        type:
                          - string
                          - "null"
                      coverage_ignore_file:
                        type:
                          - string
                          - "null"
                      cypress_cache_folder:
                        type:
                          - string
                          - "null"
                      danger_gitlab_api_base_url:
                        type:
                          - string
                          - "null"
                      danger_gitlab_host:
                        type:
                          - string
                          - "null"
                      datadog_apm_enabled:
                        type:
                          - string
                          - "null"
                      datadog_app_key:
                        type:
                          - string
                          - "null"
                      datadog_app_url:
                        type:
                          - string
                          - "null"
                      datadog_enabled:
                        type:
                          - string
                          - "null"
                      datadog_ignore_no_data:
                        type:
                          - string
                          - "null"
                      datadog_validation_enabled:
                        type:
                          - string
                          - "null"
                      dd_app_key:
                        type:
                          - string
                          - "null"
                      debian_10_only_image:
                        type:
                          - string
                          - "null"
                      debian_version:
                        type:
                          - string
                          - "null"
                      default_build_image:
                        type:
                          - string
                          - "null"
                      default_image:
                        type:
                          - string
                          - "null"
                      default_test_annotations:
                        type:
                          - string
                          - "null"
                      delete_after:
                        type:
                          - string
                          - "null"
                      deploy_aianalytics_dev:
                        type:
                          - string
                          - "null"
                      deploy_aianalytics_prod:
                        type:
                          - string
                          - "null"
                      deploy_aianalytics_sandbox:
                        type:
                          - string
                          - "null"
                      deploy_aianalytics_stage:
                        type:
                          - string
                          - "null"
                      deploy_connsplatform_dev:
                        type:
                          - string
                          - "null"
                      deploy_connsplatform_prod:
                        type:
                          - string
                          - "null"
                      deploy_connsplatform_stage:
                        type:
                          - string
                          - "null"
                      deploy_consumer_dev:
                        type:
                          - string
                          - "null"
                      deploy_consumer_prod:
                        type:
                          - string
                          - "null"
                      deploy_consumer_stage:
                        type:
                          - string
                          - "null"
                      deploy_consumer_use1_prod:
                        type:
                          - string
                          - "null"
                      deploy_dev:
                        type:
                          - string
                          - "null"
                      deploy_enterprise_dev:
                        type:
                          - string
                          - "null"
                      deploy_enterprise_prod:
                        type:
                          - string
                          - "null"
                      deploy_enterprise_stage:
                        type:
                          - string
                          - "null"
                      deploy_federated_dev:
                        type:
                          - string
                          - "null"
                      deploy_federated_prod:
                        type:
                          - string
                          - "null"
                      deploy_federated_stage:
                        type:
                          - string
                          - "null"
                      deploy_itrc_dev:
                        type:
                          - string
                          - "null"
                      deploy_itrc_prod:
                        type:
                          - string
                          - "null"
                      deploy_itrc_stage:
                        type:
                          - string
                          - "null"
                      deploy_k8s_playground:
                        type:
                          - string
                          - "null"
                      deploy_library:
                        type:
                          - string
                          - "null"
                      deploy_platforms:
                        type:
                          - string
                          - "null"
                      deploy_prod:
                        type:
                          - string
                          - "null"
                      deploy_review:
                        type:
                          - string
                          - "null"
                      deploy_sandbox:
                        type:
                          - string
                          - "null"
                      deploy_sandbox_2:
                        type:
                          - string
                          - "null"
                      deploy_sandbox_3:
                        type:
                          - string
                          - "null"
                      deploy_sandbox_4:
                        type:
                          - string
                          - "null"
                      deploy_sandbox_5:
                        type:
                          - string
                          - "null"
                      deploy_sandbox_6:
                        type:
                          - string
                          - "null"
                      deploy_stage:
                        type:
                          - string
                          - "null"
                      deploy_test:
                        type:
                          - string
                          - "null"
                      deploy_trulia_dev:
                        type:
                          - string
                          - "null"
                      deploy_trulia_preprod:
                        type:
                          - string
                          - "null"
                      deploy_trulia_prod:
                        type:
                          - string
                          - "null"
                      deploy_trulia_stage:
                        type:
                          - string
                          - "null"
                      deploy_zacs_nonprod:
                        type:
                          - string
                          - "null"
                      deploy_zacs_prod:
                        type:
                          - string
                          - "null"
                      deploy_zacs_stable:
                        type:
                          - string
                          - "null"
                      deploy_zgtools_dev:
                        type:
                          - string
                          - "null"
                      deploy_zgtools_prod:
                        type:
                          - string
                          - "null"
                      deploy_zgtools_test:
                        type:
                          - string
                          - "null"
                      dev_override_url:
                        type:
                          - string
                          - "null"
                      dev_version_override_base_url:
                        type:
                          - string
                          - "null"
                      dev_version_override_redirect_url:
                        type:
                          - string
                          - "null"
                      device_1:
                        type:
                          - string
                          - "null"
                      device_1_name:
                        type:
                          - string
                          - "null"
                      device_1_xml:
                        type:
                          - string
                          - "null"
                      device_2:
                        type:
                          - string
                          - "null"
                      device_2_name:
                        type:
                          - string
                          - "null"
                      device_2_xml:
                        type:
                          - string
                          - "null"
                      device_3:
                        type:
                          - string
                          - "null"
                      device_3_name:
                        type:
                          - string
                          - "null"
                      device_3_xml:
                        type:
                          - string
                          - "null"
                      docker_build_options:
                        type:
                          - string
                          - "null"
                      docker_repo_url:
                        type:
                          - string
                          - "null"
                      enable_hpa_override:
                        type:
                          - string
                          - "null"
                      enable_prod_schema_release:
                        type:
                          - string
                          - "null"
                      enable_stage_schema_release:
                        type:
                          - string
                          - "null"
                      environment:
                        type:
                          - string
                          - "null"
                      environment_suffix:
                        type:
                          - string
                          - "null"
                      fit_build_image:
                        type:
                          - string
                          - "null"
                      force_color:
                        type:
                          - string
                          - "null"
                      fqdn:
                        type:
                          - string
                          - "null"
                      git_submodule_strategy:
                        type:
                          - string
                          - "null"
                      global_gonosumdb:
                        type:
                          - string
                          - "null"
                      global_goproxy:
                        type:
                          - string
                          - "null"
                      golangci_version:
                        type:
                          - string
                          - "null"
                      gonosumdb:
                        type:
                          - string
                          - "null"
                      goproxy:
                        type:
                          - string
                          - "null"
                      gql_files_extension:
                        type:
                          - string
                          - "null"
                      gql_files_path:
                        type:
                          - string
                          - "null"
                      gradle_cc_cache_version_major:
                        type:
                          - string
                          - "null"
                      gradle_cc_cache_version_minor:
                        type:
                          - string
                          - "null"
                      gradle_opts:
                        type:
                          - string
                          - "null"
                      gradle_project_path:
                        type:
                          - string
                          - "null"
                      graphql_endpoint:
                        type:
                          - string
                          - "null"
                      gru_image:
                        type:
                          - string
                          - "null"
                      hotfix_regex:
                        type:
                          - string
                          - "null"
                      include_abinclude:
                        type:
                          - string
                          - "null"
                      include_contact_directive:
                        type:
                          - string
                          - "null"
                      infra_dir:
                        type:
                          - string
                          - "null"
                      infra_package_url:
                        type:
                          - string
                          - "null"
                      infra_version:
                        type:
                          - string
                          - "null"
                      instance:
                        type:
                          - string
                          - "null"
                      jacoco_html_report_path:
                        type:
                          - string
                          - "null"
                      jacoco_xml_report_path:
                        type:
                          - string
                          - "null"
                      java_docker_image:
                        type:
                          - string
                          - "null"
                      java_version:
                        type:
                          - string
                          - "null"
                      jira_issue_prefix:
                        type:
                          - string
                          - "null"
                      kustomize_overlay:
                        type:
                          - string
                          - "null"
                      lang:
                        type:
                          - string
                          - "null"
                      language:
                        type:
                          - string
                          - "null"
                      lb_type:
                        type:
                          - string
                          - "null"
                      lc_all:
                        type:
                          - string
                          - "null"
                      lerna_version:
                        type:
                          - string
                          - "null"
                      major_version:
                        type:
                          - string
                          - "null"
                      manual_deploy:
                        type:
                          - string
                          - "null"
                      manual_deploy_prod:
                        type:
                          - string
                          - "null"
                      min_coverage:
                        type:
                          - string
                          - "null"
                      minor_version:
                        type:
                          - string
                          - "null"
                      nextjs_screenshot_tests_image:
                        type:
                          - string
                          - "null"
                      node_14_build_image:
                        type:
                          - string
                          - "null"
                      node_16_build_image:
                        type:
                          - string
                          - "null"
                      node_18_build_image:
                        type:
                          - string
                          - "null"
                      node_20_build_image:
                        type:
                          - string
                          - "null"
                      node_version:
                        type:
                          - string
                          - "null"
                      npm_config_cache:
                        type:
                          - string
                          - "null"
                      package_path:
                        type:
                          - string
                          - "null"
                      panoptes_enabled:
                        type:
                          - string
                          - "null"
                      parent_pipeline_id:
                        type:
                          - string
                          - "null"
                      parent_pipeline_source:
                        type:
                          - string
                          - "null"
                      pipeline_name:
                        type:
                          - string
                          - "null"
                      pipeline_type:
                        type:
                          - string
                          - "null"
                      platform:
                        type:
                          - string
                          - "null"
                      poetry_version:
                        type:
                          - string
                          - "null"
                      profile_e2e_testing_tags:
                        type:
                          - string
                          - "null"
                      publish_enabled:
                        type:
                          - string
                          - "null"
                      python_version:
                        type:
                          - string
[...]
